<link rel = "stylesheet" type = "text/css" href = "../header.css">
<div id = "header">
     <div id = "login-housing">
          <a href = '/login' id= 'login'> Login </a>
     </div>
     <a href = <%='/' + stevenStuffy.name.split(' ').join('_') + '/' +stevenStuffy.animal_type +'#active'%>>Steven's stuffy of the day</a>
     <a href = <%='/' + monicaStuffy.name.split(' ').join('_') + '/' +monicaStuffy.animal_type +'#active'%>>Monica's stuffy of the day</a>
     <script src = "../darkLight.js"></script>
     <div id = "toggle-housing">
          <label class = "toggle">
               <input type = "checkbox" onchange = "changeSiteColour()" id = "darkLight">
               <span id = "slider">&#x263E</span>
          </label>
     </div>
     <!--button onclick = "changeSiteColour()" class = "darkMode">Light Mode</button-->
</div>