<link rel = "stylesheet" type = "text/css" href = "../header.css">
<div id = "header">
     <a href = <%='/' + stevenStuffy.name.split(' ').join('_') + '/' +stevenStuffy.animal_type +'#active'%>>Steven's stuffy of the day</a>
     <a href = <%='/' + monicaStuffy.name.split(' ').join('_') + '/' +monicaStuffy.animal_type +'#active'%>>Monica's stuffy of the day</a>
     <script type = 'text/javascript' src = '../darkLight.js' ></script>
     <button onclick = "changeSiteColour()" class = "darkMode">Light Mode</button>
</div>