<link rel = "stylesheet" type = "text/css" href = "../header.css">
<div id = "header">
  <ul>
    <li><a href = <%='/' + stevenStuffy.name.split(' ').join('_') + '/' +stevenStuffy.animal_type +'#active'%>>Steven's stuffy of the day</a></li>
    <li><a href = <%='/' + monicaStuffy.name.split(' ').join('_') + '/' +monicaStuffy.animal_type +'#active'%>>Monica's stuffy of the day</a></li>
  </ul>
</div>