<link rel = "stylesheet" type = "text/css" href = "../header.css">
<div id = "header">
     <button>Steven's Stuffy of the day</button>
     <button>Monica's Stuffy of the day</button>
     <button>Dark/Light Toggle</button>
</div>