<!DOCTYPE html>
<html>
     <head>
          <title>Uh Oh! An error has occurred</title>
          <link rel = "stylesheet" type = "text/css" href = "../error.css">
     </head>
     <body>
          <h3>ERROR 404</h3>
          <p>We could not find your page. Remember these article urls are case sensitive and are in the form stuffy_name/stuffy_animal_type!</p>
     </body>
</html>