<!DOCTYPE html>
<html>
    <head>
        <title>Stuffy Website</title>
        <link rel = 'stylesheet' type = 'text/css' href = 'index.css'>
    </head>
    <body>
        <%= fish%> is a very good fish, not just good but the bested fish. i love fish <br>
        <div class = 'menu'>
            <% for (let i = 0; i < options.length; i++){%>
                <a href = '#'><%=options[i]%></a>
            <%}%>
        </div>
        <img src=<%= image%> alt="profile pic">
    </body>
</html>