<!DOCTYPE html>
<html>
    <head>
        <title>Stuffy Website</title>
    </head>
    <body>
        <%= fish%> is a very good fish, not just good but the bested fish. i love fish <br>
        <img src=<%= image%> alt="profile pic">
    </body>
</html>