<!DOCTYPE html>
<html>
     <script src = "../retrieveColourMode.js"></script> 
     <head>
          <link rel = 'stylesheet' type = 'text/css' href = 'login.css'>
          <link rel = "stylesheet" type = "text/css" href = "../colourmode.css">
     </head>
     <body onload = "setCheckboxColourMode()">
          <%- include ("partials/header.ejs")%>
          <%- include ('partials/menu.ejs')%>
          <form>
               Username: <input type = 'text' name = 'Username' required = true>
               
               Password: <input type = 'text' name = 'Password' required = true> 
               <input type = 'submit' value ='Login'>
          </form>
     </body>
</html>