body {
     background-color: var(--main-bg-colour);
     margin: 0;
     color: var(--text-colour);
}

h1 {
     font-size: 3em;
     margin-bottom: 5px;
     font-family: 'Merriweather', serif;
}

h2 {
     display: inline-block;
     padding-right: 0.25em;
     font-size: 2em;
     margin-bottom: 5px;
     font-family: 'Merriweather', serif;
}

button {
     display: inline-block;
}

p {
     font-size: 1.2em;
}

.title {
     border-bottom-color: var(--border-colour);
     border-bottom-width: 1px;
     border-bottom-style: solid;
}

.hidden {
     display: none
}

#image {
     margin-top: 1%;
}

.basic-info {
     background-color: var(--element-colour);
     padding: 1%;
     margin-left: 2%
}

#info-wrapper {
     display: flex;
     margin-top: 1%;
}

.thumbnail {
     width: 20vw;
     object-fit: contain;
     border-color: var(--element-colour);
     border-style: solid;
     border-width: 20px;
}

#paragraphs {
     margin-left: 1%;
     padding-left: 1%;
     width: 100%;
}

#content-wrapper {
     width: 88%;
     margin-left: 10%;
     padding-left: 1%;
     border-color: rgb(119, 119, 119);
}


