.infoBox {
     width: 30%;
}

.wrapper {
     width: 90%;
     margin-left: 10%;
}

.thumbnail {
     height: 60%;
     width: 60%;
     object-fit: contain;
}

body {
     background-color: lightblue;
}