body {
     background-color: rgb(37, 39, 38);
     margin: 0;
     color: white
}

h1 {
     font-size: 3em;
     margin-bottom: 5px;
     font-family: 'Merriweather', serif;
}

h2 {
     font-size: 2em;
     margin-bottom: 0px;
     font-family: 'Merriweather', serif;
}

p {
     font-size: 1.2em;
}

.title {
     border-bottom-color: whitesmoke;
     border-bottom-width: 1px;
     border-bottom-style: solid;
}

.image {
     margin-top: 1%;
}

.basic-info {
     background-color: rgb(72, 75, 73);
     padding: 1%;
     margin-left: 2%
}

.info-wrapper {
     display: flex;
     margin-top: 1%;
}

.thumbnail {
     width: 20vw;
     object-fit: contain;
     border-color: rgb(72, 75, 73);
     border-style: solid;
     border-width: 20px;
}

.paragraphs {
     margin-left: 1%;
     padding-left: 1%;
     width: 100%;
}

#content-wrapper {
     width: 88%;
     margin-left: 10%;
     padding-left: 1%;
}


