.lightMode {
     background-color: white !important;
     color: black !important;
}

.lightModeHover:hover {
     background-color: rgb(168, 168, 168) !important;
}

.lightModeElements {
     background-color: rgb(168, 168, 168) !important;
}

.lightModeBorders {
     border-color: rgb(71, 70, 70) !important;
}

#header {
     width : 90%;
     margin-left: 10%;
     background-color:var(--header-menu-colour);
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
     height:7vh;
     overflow:hidden;
     font-size:1vw;
     border-bottom:solid;
     border-width: 0.2vw;
     box-sizing: border-box;
}
#header a{
     background-color: inherit;
     color: var(--text-colour);
     text-decoration: none;
     font-weight: bold;
     font-family: 'Merriweather', serif;
     margin-bottom:auto;
     margin-top: auto;
     padding:0.8vw;
}
#header a:hover{
     background-color: var(--hover-colour) ;
}
