.lightMode {
     background-color: white !important;
     color: black !important;
}

.lightModeHover:hover {
     background-color: rgb(168, 168, 168) !important;
}

.lightModeElements {
     background-color: rgb(168, 168, 168) !important;
}

.lightModeBorders {
     border-color: rgb(71, 70, 70) !important;
}

#header {
     width : 90%;
     margin-left: 10%;
     text-align: center;
     background-color: inherit;
     color: inherit;

}
#header li a{
     background-color: inherit;
     color: inherit;
     background-color:rgb(32, 32, 32);
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
}
#header a{
     background-color:rgb(32, 32, 32);
     color: white;
     text-decoration: none;
     padding: 1vw;
     text-align : center;
     font-weight: bold;
     font-family: 'Merriweather', serif;
}
#header li{
     display: inline;
     padding:0;
     margin:0;
     text-align : center;
}
#header ul{
     list-style-type: none;
     margin:0;
     padding: 1vw;
}
#header li a:hover{
     background-color: inherit;
}
#header a:hover{
     background-color: inherit;
}
