#header {
     width : 90%;
     margin-left: 10%;
     background-color:var(--header-menu-colour);
     display: flex;
     justify-content: center;
     flex-direction: row;
     height:7vh;
     overflow:hidden;
     font-size:1vw;
     border-bottom:solid;
     border-width: 0.2vw;
     box-sizing: border-box;
}
#header a{
     background-color: inherit;
     color: var(--text-colour);
     text-decoration: none;
     font-weight: bold;
     font-family: 'Merriweather', serif;
     margin-bottom:auto;
     margin-top: auto;
     padding:2vh;
}
#header a:hover{
     background-color: var(--hover-colour) ;
}

#toggle-housing {
     padding: 1vh;
     width: 20%;
     height: 70%;
}

.toggle {
     cursor: pointer;
     position: absolute;
     width: 12vh;
     height: 5vh;
     background-color: var(--element-colour);
     display: inline-block;
	border-radius: 2.5vh;
}

input {
     height: 0;
     width: 0;
     display: none;
}

#slider {
     position: absolute;
     width: 4vh;
     height: 4vh;
     top: 0.5vh;
     left: 0.5vh;
	background: #fff;
	border-radius: 2vh;
	transition: 0.3s;
}

input:checked + #slider {
	transform: translateX(7vh);
}