.header {
     text-align: center; 
}
.content{
     margin-left:10%; /*width of menu*/
     text-align: center; 
     background-color: grey;
}
.menu {
     float: left;
     width: 20%
}

.menuLinks {
     color: turquoise;
}

#stuffyOfTheDayWrapper {
     width : 80%;

     margin: auto;
}
.stuffyOfTheDay {
     height: 100%;
     width: 40%;
     display: inline-block;
}

.stuffyOfTheDayPic {
     text-align: center;
     object-fit: cover;
     height: 500px;
     width: 500px;
     display:inline-block;
     
}
