.header {
     text-align: center; 
}
.content{
     margin-left:10%; /*width of menu*/
     margin-top: 5%;
     text-align: center;
     width: 90%;
     background-color: grey;
     position: fixed;
}

.menuLinks {
     color: turquoise;
}

#stuffyOfTheDayWrapper {
     width : 80%;

     margin: auto;
}
.stuffyOfTheDay {
     height: 100%;
     width: 40%;
     display: inline-block;
}

.stuffyOfTheDayPic {
     text-align: center;
     object-fit: cover;
     height: 500px;
     width: 500px;
     display:inline-block;
     
}
