.header {
     text-align: center; 
}
.content{
     margin-left:10%; /*width of menu*/
     text-align: center;
     width: 90%;
     padding :0;
     overflow-y: auto;
}

#stuffyOfTheDayWrapper {
     background-color: rgb(72, 75, 73);
     width : 80%;
     margin: auto;
}

.stuffyOfTheDay {
     height: 100%;
     width: 40%;
     display: inline-block;

}

.stuffyOfTheDayPic {
     text-align: center;
     object-fit: contain;
     height: 25vw;
     width: 25vw;
     display:inline-block;     
}

body{
     margin:0;
     background-color: rgb(37, 39, 38);
     color:white;
     font-family: 'Merriweather', serif;
}