#menu{
     width: 10%;
     margin-top:4vw;
     height: 96vw;
     background-color: inherit;
     color: inherit;
     position: fixed;
     z-index:1;
     top: 0;
     left:0;
     overflow-y: auto;
     padding : 0;
 }

#menu a{
    display: block;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    padding: 1vw;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 1vw;

}
#menu a:hover{
    background-color: rgb(56, 56, 56) ;
}
#active {
     background-color: rgb(81, 85, 84);
}
#searchBar {
    padding:1%;
    margin:0;
    height:3%;
    width:96%;
    font-weight: bold;
    position:relative;
    background-color: rgb(32, 32, 32);
    color: white;
    border-style: solid;
}
