.menu a{
    display: block;
    background-color: rgba(23, 54, 230, 0.993) ;
    color: white;
    text-decoration: none;
    padding: 12px;
}
.menu{
    width: 200px;
    height: 100%;
    background-color:rgba(23, 54, 230, 0.993);
    position: fixed;
    z-index:1;
    top: 0;
    left:0;
    overflow-y: auto;
}

