.menu a{
    display: block;
    background-color:var(--main-bg-colour);
    color: var(--text-colour);
    text-decoration: none;
    padding: 1vw;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 1vw;

}
.menu a:hover{
    background-color: var(--element-colour) ;
}
.menu{
    width: 10%;
    height: 100%;
    background-color: var(--main-bg-colour);
    position: fixed;
    z-index:1;
    top: 0;
    left:0;
    overflow-y: auto;
    padding : 0;
}

#active {
     background-color: var(--element-colour);
}

